RewriteEngine On
RewriteBase /monblug/

# Redirige tout vers index.php sauf si fichier ou dossier existe
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
